<template>
  <div class="about">
    <menu-bar/>
    <pokemons/>
  </div>
</template>

<script>
import MenuBar from '../components/MenuBar.vue'
import Pokemons from '../components/Pokemons.vue'


export default {
  name: 'About',
  components: {
    MenuBar,
    Pokemons
    
  }
}
</script>