<template>
  <div>
    <menu-bar />
    <div class="containerFav">
      <favoritos/>
    </div>
  </div>
</template>

<script>
import Favoritos from "../components/Favoritos.vue";
import MenuBar from "../components/MenuBar.vue";
export default {
  components: { MenuBar, Favoritos },
  data() {
    return {
    
    };
  },
};
</script>

<style lang='scss' scopped>
.containerFav {
  display: flex;
  text-align: center;
  /* align-items: center; */
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-top: 20%;
}
.p-component,
.p-component * {
  box-sizing: border-box;
}
</style>