<template>
  <div class="home">
    <menu-bar/>
    <img src="../assets/img/pokemon.png" alt="">
  </div>
</template>

<script>
import MenuBar from '../components/MenuBar.vue'


export default {
  name: 'Home',
  components: {
    MenuBar
    
  }
}
</script>
