<template>
  <div v-for="favoritos in favoritos" :key="favoritos">
    <Fieldset style="margin: 3%; width: 500px" >
      <template #legend> {{ favoritos.name }} </template>
      <img :src="`${favoritos.url}`" alt="">
    </Fieldset>
  </div>
</template>

<script>
export default {
  data() {
    return {
      favoritos: [
        {
          name: "Balbusar",
          url: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png",
        },
        {
          name: "venusaur",
          url: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/3.png",
        },
        {
          name: "ekans",
          url: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/23.png",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.p-fieldset p {
  line-height: 1.5;
  margin: 0;
}
.p-fieldset .p-fieldset-legend {
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #f8f9fa;
    font-weight: 600;
    border-radius: 3px;
}
</style>