<template>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">API-Pokémon</a>
  <div class="form-inline">
   <router-link to="/" class="navbar-brand mr-sm-4">Inicio</router-link>
   <router-link to="/About" class="navbar-brand mr-sm-4">Pokemon</router-link>
   <router-link to="/Fav" class="navbar-brand mr-sm-4">Favoritos</router-link>
  </div>
</nav>
</template>

<script>
export default {

}
</script>

<style>

</style>