<template>
  <!--   <div v-for="listPokemons in listPokemons" :key="listPokemons.name">
   <p> {{ listPokemons.name }} </p>
  </div> -->
  <div class="container">
    <DataTable
      :value="listPokemons"
      :paginator="true"
      :rows="10"
      responsiveLayout="scroll"
    >
      <Column style="padding-left: 10%" field="name" header="Name"></Column>
    </DataTable>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      list: null,
    };
  },
  computed: {
    ...mapState(["listPokemons"]),
  },
  methods: {
    ...mapActions(["searchPokemons"]),
    goToInfo(dataUrl) {
      console.log(dataUrl);
    },
  },
  mounted() {
    this.searchPokemons();
  },
};
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 70%;
  margin-top: 8%;
}
</style>